[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = golang dice roller
[access "refs/*"]
	owner = group user/Scott Anderson (billyogat)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Scott Anderson (billyogat)
	label-Verified = -1..+1 group user/Scott Anderson (billyogat)
	push = group user/Scott Anderson (billyogat)
	read = group user/Scott Anderson (billyogat)
	rebase = group user/Scott Anderson (billyogat)
	removeReviewer = group user/Scott Anderson (billyogat)
	submit = group user/Scott Anderson (billyogat)
[access "refs/heads/*"]
	create = group user/Scott Anderson (billyogat)
	push = +force group user/Scott Anderson (billyogat)
	pushMerge = group user/Scott Anderson (billyogat)
	read = group user/Scott Anderson (billyogat)
[access "refs/tags/*"]
	push = group user/Scott Anderson (billyogat)
	push = +force group user/Scott Anderson (billyogat)
